::-webkit-scrollbar {
  -webkit-appearance: none;
  margin-top: 50px !important;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  margin-top: 50px !important;
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a{
  color: #f49999;
}

/* .App-title {
font-size: 18px;
text-align: left;
margin-top: 30px;
margin-left: 30px;
letter-spacing: 5.5px;
font-weight: 500;
line-height: 150%;
} */


.event-date {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 50px 25px 10px 25px;
}

.cards-container {
  width: 31%;
  height: 102%;
  overflow: scroll;
  position: fixed;
  background: #fafafa;
  border-right: 1px solid #dadada;
}

body {
  background: #ededed;
  overflow-x: hidden;
}

.primary-view-container {
  width: 69%;
  float: right;
  margin-right: -1px;
  z-index: 999;
  height: 100%;
}

::-webkit-scrollbar{
  width: 0px;
}