
.preview-view-container {
    border-radius: 10px;
    width: 90%;
    font-family: "Rubik";
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 10px 40px 60px rgba(0, 0, 0, 0.08);
    margin: 19px;
    margin-top: 50px;
    background: #fff;
  }
  
  .preview-view-header {
    background-color: #f49999;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    height: 60px;
    line-height: 60px;
    text-indent: 20px;
    font-size: 14px;
  }
  
  .preview-view-name-email {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .preview-view-body {
    font-weight: normal;
    padding: 20px;
  }
  
  .preview-view-description {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .preview-view-name {
    font-weight: 500;
    letter-spacing: 0.75px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .preview-view-name a {
    color: black;
    text-decoration: none;
  }
  
  
  .preview-view-name a:hover {
    text-decoration: underline;
  }
  
  .preview-view-name-icon {
    font-size: 16px;
    color: lightgray;
    margin-left: 2px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
  
  h1 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 0;
  }
  
  hr {
    border: 0.5px solid #ccc;
  }
  
  .preview-view-button{
    background: #f49999;
    border: 0px solid transparent;
    padding: 15px 12%;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    transition: .2s ease-in-out;
  }
  
  .preview-view-button:hover{
    color: #f49999;
    background: #fff;
  }
  
  .preview-view-email-button{
    border-right: 5px solid #fff;
    border-radius: 10px 0px 0px 10px;
  }
  
  .preview-view-news-button{
    border-right: 5px solid #fff;
  }
  
  .preview-view-contact-button{
    border-radius: 0px 10px 10px 0px;
  }
  
  .selected-button {
    background: white;
    color: #f49999;
  }
  
  .selected-button:hover{
    background: white;
    color: #f49999;
  }